.about-section {
    box-shadow: 10px 7px 6px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 10px 7px 6px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 10px 7px 6px -3px rgba(0,0,0,0.74);
    margin-top: 50px;
}

.about-image img {
    height: 350px;
    width: 350px;
    border-radius: 190px;
    margin-left: 155px;
    margin-top: 50px;
    border: 5px solid yellow;
}

.about-details {
    margin-top: 50px;
    
}

